/* responsive*/
/* xs */
@media screen and (min-width: 0){
    .container-cella{
        display: flex;
        justify-content:flex-start;
        flex-wrap: wrap;
        }
        .cella{
            width: calc(100%/2);
        }
        .hide{
            display: none;
        }
        footer .left img{
            width: 20px;
        
        }
        footer .left p{
            padding-bottom: 4px;
            font-size: 10px;
        }
        footer i{
            color:#6f7176;
            font-size: 12px;
            margin-left: 5px;
        }
        footer .center i,
        footer .right i{
            color:white;
            font-size: 12px;
            margin-left: 5px;
        }
        footer .center i:nth-child(3){
            font-size: 20px;
            vertical-align: middle;
        }
        
        footer .left p:first-child{
            color: white;
            font-size: 10px;
        }
        footer .left,
        footer .right,
        footer .center{
        padding:0 5px;
        }
        footer .titel{
            margin-left: 10px;
        }
        .line{
            width: 140px;
        }
        footer .right .line{
            width: 60px;
            margin-right: 0;
        }
        
}
/* s */
@media screen and (min-width: 601px){
    .sidebar {
        width: 300px;
    }
    .hide{
        display: block;
    }
    .hide1{
        display: none;
    }
    
    
}
    

/* md */
@media screen and (min-width: 768px){
    /* content */
    .cella{
        width: calc(100%/4);
    }
    
    footer .left img{
        width: 50px;
    
    }
    footer .left p{
        padding-bottom: 4px;
        font-size: 12px;
    }
    footer i{
        color:#6f7176;
        font-size: 16px;
        margin-left: 5px;
    }
    footer .left p:first-child{
        color: white;
        font-size: 14px;
    }
    footer .left,
    footer .right,
    footer .center{
        padding:0 20px;
    }
    .line{
        width: 240px;
    }
    footer .center i,
    footer .right i{
        color:white;
        font-size: 16px;
        margin-left: 10px;
        vertical-align: middle;
    }
    footer .center i:nth-child(3){
        font-size: 24px;
    }
    footer .right .line{
        width: 100px;
        margin-right: 0;
    }
}

/* lg */
@media screen and (min-width: 1200px){
   /* content */
   .container-cella{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    }
    .cella{
        width: calc(100%/6);
    }
}