/* responsive*/
/* xs */
@media screen and (min-width: 0){
    .container-cella{
        display: flex;
        justify-content:flex-start;
        flex-wrap: wrap;
        }
        .cella{
            width: calc(100%/2);
        }
        .hide{
            display: none;
        }
        footer .left img{
            width: 20px;
        
        }
        footer .left p{
            padding-bottom: 4px;
            font-size: 10px;
            
        }
        footer .left a{
            text-transform:none;
            font-size: 10px;
            
        }
        footer .left a:hover,
        footer .left a:active,
        footer .left a:focus{
            text-decoration: underline;
        }
        
        footer i{
            color:#6f7176;
            font-size: 12px;
            margin-left: 5px;
        }
        footer .center i,
        footer .right i{
            color:white;
            font-size: 12px;
            margin-left: 5px;
            vertical-align: middle;
        }
        footer .center a:nth-child(3) i{
            font-size: 20px;
            width: 28px;
        }
        footer .center a:nth-child(3):hover i,
        footer .center a:nth-child(3):active i,
        footer .center a:nth-child(3):focus i{
            font-size: 28px;
        }
        .icons{
            height: 30px;
            text-align: center;
            line-height: 30px;
        }
       
        
        footer .left p:first-child{
            color: white;
            font-size: 10px;
        }
        footer .left,
        footer .right,
        footer .center{
        padding:0 5px;
        }
        footer .titel{
            margin-left: 10px;
        }
        .container-line{
            width:140px ;
            height: 10px;
            margin:0 5px;
            position: relative;
        }
        .line{
            width:140px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
           
        }
        footer .right .container-line{
            width: 60px;
            margin-right: 0;
        }
        footer .right .line{
            width:100%;
            margin-right: 0;
        }
        
}
/* s */
@media screen and (min-width: 601px){
    .sidebar {
        width: 300px;
    }
    .hide{
        display: block;
    }
    .hide1{
        display: none;
    }
    
    
}
    

/* md */
@media screen and (min-width: 768px){
    /* content */
    .cella{
        width: calc(100%/4);
    }
    
    footer .left img{
        width: 50px;
    
    }
    footer .left p {
        padding-bottom: 4px;
        font-size: 12px;
    }
    footer .left a{
        text-transform:none;
        font-size: 12px;
    }
    footer i{
        color:#6f7176;
        font-size: 16px;
        margin-left: 5px;
    }
    footer .left p:first-child{
        color: white;
        font-size: 14px;
    }
    footer .left,
    footer .right,
    footer .center{
        padding:0 20px;
    }
    .container-line{
        width:240px ;
        margin:0 20px;
    }
    .line{
        width: 240px;
        
    }
    footer .center a i,
    footer .right i{
        color:white;
        font-size: 16px;
        margin-left: 10px;
        vertical-align: middle;
    }
    footer .center a:nth-child(3) i{
        font-size: 24px;
        width: 32px;
    }
    footer .center a:nth-child(3):hover i,
    footer .center a:nth-child(3):active i,
    footer .center a:nth-child(3):focus i{
        font-size: 32px;
    }
    .icons{
        height: 40px;
        text-align: center;
        line-height: 40px;
    }
    
    
}

/* lg */
@media screen and (min-width: 1200px){
   /* content */
   .container-cella{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    }
    .cella{
        width: calc(100%/6);
    }
}